<div class="card">
  <h2>Courses List</h2>
</div>
<div class="card">
  <app-filter [categoryList]="filterData" [styling]="filterStyle" (filterRule)="setRules($event)"></app-filter>
</div>
<div class="card" *ngIf="CourseContent">
  <div class="card" *ngFor="let item of CourseContent | filter:rulesList">
    <span class="title">{{item.Category}}</span>
    <hr>
    <span class="chip">{{item.SubType}}</span>
    <span class="chip">{{item.ProgressType}}</span>
    <span class="chip">{{item.DueDate| date:'MM/dd/yyyy'}}</span>
  </div>
</div>