<div class="card heading">
  <h2>Courses List</h2>
  <span class="space"></span>
  <button class="filterBtn" (click)="showFilter()">
    <img class="filterBtnImg" src="https://image.flaticon.com/icons/png/128/60/60954.png" alt="filter" >
  </button>
</div>
<div class="card" *ngIf="isFilterVisible">
  <app-filter *ngIf="filterData" [categoryList]="filterData" [styling]="filterStyle" (filterRule)="setRules($event)"></app-filter>
</div>
<div class="card" *ngIf="CourseContent">
  <div class="card" *ngFor="let item of CourseContent | filter:rulesList">
    <span class="title">{{item.category}}</span>
    <hr>
    <span class="chip">{{item.subType}}</span>
    <span class="chip">{{item.progressType}}</span>
    <span class="chip">{{item.dueDate| date:'MM/dd/yyyy'}}</span>
  </div>
</div>