/* You can add global styles to this file, and also import other style files */
.card{
    min-height: 75px;
    width: 100%;
    display: block;
    align-items: center;
    padding: 14px;
    box-sizing: border-box;
    margin: 2px 2px 6px 1px;
    box-shadow:#000000 -1px 1px 6px -1px
}

.title{
    font-size: larger;
    font-weight: bold;
}

.chip{
    border-radius: 12px;
    box-sizing: border-box;
    padding: 7px;
    border-color: #000000;
    margin: 5px;
    font-size: small;
    color: #ffffff;
    background-color: #bababa;
}

.chip-selected{
    
    background-color: #800080;
}

*{
    font-family: Roboto;
}